@media only screen and (max-width: 700px) {
  #milieu {
    margin-top: 90px;
    margin-bottom: 20px;
  }

  #milieu h1 {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .txtMilieu ion-icon {
    font-size: 60px;
    margin-bottom: 70px
  }

  .formulaire {
    width: 250px;
  }

  .formulaire input {
    width: 170px;
  }

  .boutonBas {
    display: none;
  }

  #bouton {
    border: none;
    background-color: #5d5fc6;
  }
}

@media only screen and (min-width: 701px) {
  .contenu {
    display: flex;
    flex-direction: row;
    flex: auto;
  }

  #milieu {
    margin: 110px 50px 50px 350px;
  }

  #milieu h1 {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .txtMilieu ion-icon {
    font-size: 80px;
    margin-bottom: 70px
  }

  .formulaire {
    width: 320px;
  }

  .formulaire input {
    width: 220px;
  }
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
}

#milieu {
  flex: auto;
}

#milieu a {
  font-size: 11px;
  color: black;
}

.recherche {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.txtMilieu {
  animation-name: appear;
  animation-duration: 1s;
  margin-bottom: 30px;
}

/* Couleur et alignement du div contenant un formulaire */
.formulaire {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: #f1f1f1;
  height: 50px;
  border-radius: 50px;
  margin-bottom: 30px;
}

/* Taille et couleur des zones de texte uniquement */
.formulaire input {
  height: 40px;
  border: none;
  background-color: #f1f1f1;
}

/* Effet s'appliquant au div .formulaire lorsqu'on clique dans les zones de texte */
.formulaire:focus-within {
  transform: scale(1.05);
  box-shadow: 2px 2px 3px #b3b3b3;
  transition: all 0.2s;
}

/* Positionnement de l'icône à l'intérieur du formulaire */
.formulaire ion-icon {
  margin-left: 30px;
}

.envoyer {
  display: flex;
  justify-content: center;
}

/* Taille, couleur, police et positionnement du bouton "Envoyer" */
.envoyer input {
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 50px;
  background-color: #f1f1f1;
  font-family: 'Oswald', sans-serif;
}

/* Changer la couleur du bouton "Envoyer" quand on passe la souris dessus */
.envoyer input:hover {
  background-color: #5d5fc6;
  color: white;
  transition: all 0.5s ease;
  cursor: pointer;
}

/* Police et alignement des textes dans les formulaires */
::placeholder {
  font-family: 'Oswald', sans-serif;
  text-align: left;
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}
