@media only screen and (max-width: 700px) {
  #milieu {
    margin-top: 90px;
    margin-bottom: 20px;
    text-align: center;
  }

  .boutonBas {
    display: none;
  }

  #bouton {
    border: none;
    background-color: #5d5fc6;
  }
}

@media only screen and (min-width: 701px) {
  #milieu {
    margin: 110px 50px 50px 350px;
  }
}

.contenu {
  display: flex;
  flex-direction: row;
  flex: auto;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
}

#milieu {
  flex: auto;
}

tr {
  text-align: center;
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}
